[Unit]
Description=Allow Tailscale traffic alongside Mullvad VPN
Documentation=https://theorangeone.net/posts/tailscale-mullvad/
Documentation=https://mullvad.net/en/help/split-tunneling-with-linux-advanced
After=mullvad-daemon.service tailscaled.service
Wants=mullvad-daemon.service tailscaled.service

[Service]
Type=oneshot
ExecStartPre=-/usr/sbin/nft delete table inet mullvad_tailscale
ExecStart=/usr/sbin/nft -f /etc/nftables.d/mullvad-tailscale.nft
ExecReload=-/usr/sbin/nft delete table inet mullvad_tailscale
ExecReload=/usr/sbin/nft -f /etc/nftables.d/mullvad-tailscale.nft
ExecStop=-/usr/sbin/nft delete table inet mullvad_tailscale
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
